<div style="text-align: center;">
  <h1>Getting started</h1>
  <iframe
    width="851"
    height="480"
    src="https://www.youtube.com/embed/6I6kxbLpVkQ"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p>
    Para subir las propias funciones, primero debe iniciar sesión en la parte derecha de la pantalla.
  </p>
  <iframe
    width="851"
    height="480"
    src="https://www.youtube.com/embed/1nX4hjO6MVg"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="d-flex flex-column justify-content-center w-100 mt-3 pr-2 pl-2">
  <h1 class="text-center font-weight-light">Importar una librería específica</h1>
  <p>Si se desea importar una librería específica, basta solo con presionar cualquier librería en la sección de las funciones</p>
  <div class="card">
    <img src="../.././../assets/details.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title font-weight-light"><i>Como puede ver, el script se genera en la parte de abajo cuando abre cada card</i></h5>
    </div>
  </div>
  <hr>
  <h1 class="text-center font-weight-light">Importar varias librerías</h1>
  <p>Si se desean importar varias librerías, se debe hacer de la siguiente manera</p>
  <div class="card w-100">
    <img src="../.././../assets/several-libraries.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title font-weight-light"><i>Este script debe colocarle en el archivo index.html de su proyecto (o su archivo equivalente)</i></h5>
      <small>Al método importar se le debe enviar por parámetro, los identificadores de las funciones</small>
    </div>
  </div>
</div>
