<form [formGroup]="functionFG" (ngSubmit)="onSubmit()" class="container pb-2 mb-3">
  <div ace-editor
       [(text)]="code"
       [mode]="'typescript'"
       [theme]="'monokai'"
       [readOnly]="false"
       class="rounded"
       style="min-height: 400px; width:100%; overflow: auto;"
       ></div>
  <div class="container text-center mt-3">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Provea un nombre</mat-label>
      <input matInput [formControl]="functionFG.get('name')"/>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Provea una descripción</mat-label>
      <input matInput [formControl]="functionFG.get('description')"/>
    </mat-form-field>

    <!--auto complete-->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Buscar función a enlazar</mat-label>
      <input matInput [matAutocomplete]="auto" [formControl]="functionCTRL">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading">
          loading ...
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let f of filteredFunctions" [value]="f !== null ? f._name : ''">
            <span *ngIf="f !== null; else noResult">{{f._name}}</span>
            <ng-template #noResult><span>Sin resultado</span></ng-template>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
    <!--end autocomplete-->


    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Agregar etiqueta</mat-label>
      <input matInput #tag ngModel [ngModelOptions]="{standalone: true}"/>
      <button (click)="tags.unshift(tag.value); false" style="color: green;" mat-icon-button matSuffix>
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
    <mat-list role="list" *ngIf="tags.length > 0" class="w-100">
      <mat-list-item class="shadow-sm" role="listitem" *ngFor="let t of tags; let i = index">
        <div class="d-flex flex-row w-100 justify-content-between">
          <span>{{t}}</span>
          <button (click)="tags.splice(i, 1); false" mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="container text-center mt-2">
    <button color="primary" type="submit" mat-raised-button [disabled]="!functionFG.valid"><mat-icon>check</mat-icon></button>
  </div>
</form>
