<div class="d-flex flex-column h-100 justify-content-sm-center w-100">
  <div class="d-flex flex-row flex-wrap justify-content-center w-100">
    <mat-card class="col-sm mw-25 m-2" *ngFor="let f of _functions; let i = index">
      <mat-card-title class="text-center font-weight-light">{{
        f._name
      }}</mat-card-title>
      <hr />
      <mat-card-content> </mat-card-content>
      <span class="text-danger" *ngIf="f.dep > 0"
        >Esta función no se puede eliminar porque es dependencia de
        {{ f.dep }} funcion(es)</span
      >
      <mat-card-actions class="container text-center">
        <button (click)="openEditDialog(i); false" mat-raised-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button [disabled]="f.dep > 0" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
