<div class="d-flex flex-column h-100 justify-content-sm-around w-100">
  <div class="card container" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of
        the card's content.
      </p>
      <div class="container d-flex flex-row justify-content-sm-center text-center">
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
</div>

